table {    
    width: 80%;
    border-collapse: collapse;
    border: 2px solid black;
    border-color: black;
}

 td{
    padding: 0px 10px 0px 10px ;
    border-width: 2px;
    border: 2px solid black;
    
}

th{
    padding: 10px 10px 10px 10px;
    border-width: 2px;
    border: 2px solid black;
    text-align: start;
}

a {
    text-decoration: none;
}